@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body;
        @apply h-screen;
    }
    h1 {
        @apply text-2xl;
        @apply font-bold;
    }
    img {
        @apply w-full;
        @apply block;
        @apply object-cover;
    }
}

/*
@layer components {
    .hiddenBox {    
        display: none;
        position: absolute;

        right: 0;
        top: 0;

        width: 100%;
        height: 100vh;
        background-color: rgba(40, 41, 41, .3);
        backdrop-filter: blur(3px);

        z-index: 1;
    }
    
    .menu-mobile {
        position: absolute;
        right: 0;
        top: 0;
        display: none;

        width: min(90vw, 320px);
        height: 100vh;

        padding-block: 1rem;

        background-color: #f4f7be;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        z-index: 2;
     
}
    
}*/
